<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body >
        {% block content %}
        {% include "navbar.html" %}
        <div class="bg-center h -screen"style= "background-image: url('https://images.pexels.com/photos/414837/pexels-photo-414837.jpeg'); background-size:cover;">
            <div class="flex items-center justify-center min-h-screen">
                <button class="px-6 py-3 bg-blue-600 text-white text-sm font-medium rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 active:bg-blue-800">
                <a href={%url 'weather'%} >
                Check weather
                </a>
                </button>
            </div>
        </div>
        
        {% comment %} <button><a href ="{% url "weather" %}">check your weather</a></button>
        <img src="https://images.pexels.com/photos/414837/pexels-photo-414837.jpeg"style=";height:10%;width:100%;"> {% endcomment %}
        {% endblock content %}

    
    </body>
    </html>